#id_work_days input[type="checkbox"] {
  display: none;
}

#id_work_days span {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid darkgray;
  border-radius: 3px;
  color: darkgray;
}

#id_work_days input[type="checkbox"]:checked + span {
  background-color: darkgray;
  color: black;
}
