<div class="content mt-md-5 p-md-5">
  <div class="container" id="content" #content>
    <div class="card card-user">
        <div class="image">
            <img src="../../../assets/image/odc.jpg" alt="..."/>
        </div>
          <div class="content">
            <div class="author">
                <a href="#">
                <img class="avatar border-gray" [src]= "user.image" alt="..."/>

                  <h4 class="title">{{user.prenom }} {{user.nom}}<br />
                    <small>{{user.email}}</small><br>
                    <small>Profil: {{user.profil.libelle}}</small>
                  </h4>
                </a>
            </div>
          </div>
        <div class=" justify-content-center d-flex">
          <qr-code [value]="dataToString" size="300"></qr-code>
        </div>
    </div>
  </div>
  <!-- <button (click)="imprimmer()">Imprimmer</button> -->
</div>

