<div class="container-fluid col-xl-10">
  <div class="card-body">
    <h3 class="card-header title text-center">Liste des Groupes de Competences</h3>
    <span class="table-add float-right mb-3 mr-5 mt-3" *ngIf = "role == 'ROLE_ADMIN'"><a class="text-success"><i class="fas fa-user-plus fa-2x" routerLink = "addgrpCmpts"></i></a></span>
  </div>
  <div class="row">
    <div class="col-xl-3 col-sm-6 col-md-4 col-12 mt-5" *ngFor="let g of grpCpmt">
      <div class="card">
        <div class="container-fluid bg-success">
          <div class="float-right">
            <a class="btn" routerLink = "editgrpCmpts/{{g.id}}"><i class="fas fa-pencil-alt"></i></a>
            <button class="btn" (click)="archiverGrpCpmt(g.id)"><i class="fa fa-close"></i></button>
          </div>
          <h4>{{g.libelle}}</h4>
          </div>
            <p class="card-text d-flex justify-content-center" >{{g.descriptif}} </p>
          <div>
          <a class="btn btn-outline-dark btn-block card-footer" routerLink="itemGrpCompt/{{ g.id }}">Competence</a>
          <button class="btn btn-outline-dark btn-block card-footer" disabled>Tags</button>
        </div>
      </div>
    </div>
  </div>
</div>
